body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

h2 {
  text-align: center;
}


#header-nav {
  background-color: dimgray;
  border-radius: 0;
  border: 0;
  border: 2px solid  black;

}
.navbar-brand {
  padding-top: 25px;
  
}

.navbar-brand h1 { 
  font-family: sans-serif ;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75px;
  
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none ;
  
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: black;
  text-align: center;
  background: white;
  width: 100%;
}

#nav-list a:hover {
  background: red ;
  color: blue ;
}

#nav-list a:span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar 
{
  border: 1px solid black;     
 
  

}
  



.container {
  /*margin: 10px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 8px 5px;

}

.box {
  margin-top: 25px;
  width: 31%;
  /*border: 3px solid  black;*/
  background-color: dimgray;
  height: 215px; 
}
  

  .menu_item_header {
  /*width: 80px;*/
font-weight: bold;

}

  .menu_item_header__1 {
   
  color: black;
  text-align: center;
}

.menu_item_header__2 {
  color: black;
  text-align: center;
}

.menu_item_header__3 {
  color: black;
  text-align: center;
}




@media (min-width: 768px) and (max-width: 991px) {
  .box__1, .box__2 {
    width: 49%;
    flex-direction: column;

 }

  .box__3 {
    width: 100%;
      }

}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-content: center;
  }
  .box {
    width: 100%;
  }
}



.border {
  border-bottom: 1px solid black;
}














