body {
  font-size: 16px;
  color: #fff;
  background-color:#438924;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color:  #337ab7;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;

}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #777C03;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #104613;
  text-align: center;
}
#nav-list a:hover {
  background: #fff;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #B4ECB7;
  background-color:#438924;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color:red;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}

#testimonials {
  font-style: italic;
}

#testimonials p:nth-child(2) {
  margin-top: 25px;
}


#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #829000;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #FFFFFF;
}
#menu-tile {
  background: url('../photo/home/menu01.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../photo/home/sp01.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.category-tile { 
  position: relative;
  border: 2px solid #829000;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #FFFFFF;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}

.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #829000; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: 0.9em;
  font-style: inherit ;
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
 
   #collapsable-nav a { 
    font-size: 1.2em;
  }
  
.panel-footer section:nth-child(3) {
    margin-bottom: 0; 
  }
  .panel-footer section hr {
    width: 50%;
  }
 
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}

@media (max-width: 479px) {

  .navbar-brand h1 {
    padding-top: 5px;
    font-size: 6vw;
  }

  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



